<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<body>
<h1>{{ name | upper }}</h1>
<h1>{{ page_url | urlize}}</h1>
<h1>{{ bmi | floatformat:3}}</h1>
<h1>給料：{{ salary | default:'秘密'}}</h1>
<h1>{{ fruits | random}}</h1>
<h1>{{msg2 | truncatechars:7}}</h1>

<a href="{% url 'y_line_game_app:home' first_name='saburo' last_name='konishi' %}">home</a>
<img src="{% static 'sample.jpg' %}">
</body>
</html>
