.input_area{
    background-color: #c1ffff;
    border-radius: 8px;
    /* display: flex;
    flex-direction: column; */
}

.button{
    border-radius: 8px;
    /* 枠線を消す */
      border: none;
    /* 上下4px、左右16px */
    padding: 4px 16px;
}

.button:hover{
    background-color: #ff7fff;
    /* 文字色 */
    color: #ffffff;
    /* カーソルの形を変える */
    cursor :pointer
}

.copyright{
    font-size: 8px;
    /* [上][右][下][左] */
    margin: 10px 0 0 0;
}

img{
    width: 25px;
    height: 13px;
}

.menu{
    margin: 0 5px;
}