.input_area{
    background-color: #c1ffff;
    border-radius: 8px;
    /* display: flex;
    flex-direction: column; */
}

button{
    border-radius: 8px;
    /* 枠線を消す */
      border: none;
    /* 上下4px、左右16px */
    padding: 4px 16px;
}

button:hover{
    background-color: #ff7fff;
    /* 文字色 */
    color: #ffffff;
    /* カーソルの形を変える */
    cursor :pointer
}

.copyright{
    font-size: 8px;
    /* [上][右][下][左] */
    margin: 10px 0 0 0;
}

img{
    width: 25px;
    height: 13px;
}

.menu{
    margin: 0 5px;
}

.list {
    /* border-right: none!important;
    border-left: none!important; */
    border: 1px solid;
    border-color: #797979;
}

#overlay{
    /* 画面全体を覆う設定　*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    
    /* 画面の中央に要素を表示させる設定　*/
    display: flex;
    align-items: center;
    justify-content: center;    
}

#content {
    z-index:2;
    width:50%;
    padding: 1em;
    background:#fff;
}

td {
    padding: 7px;
}

.centering_item {
    background-color: #7af384;  /* 背景色指定 */
    margin:  0 auto;            /* 中央寄せ */
}

.button_margin {
    margin-left: 5px;
    margin-right: 5px;
}